:root {
    --main: #46aef7;
    --accent: #764ba2;
    --font: #616060;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    color: var(--font);
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

li {
    list-style: none;
}

input {
    outline: none;
    border: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.title {
    color: #fff;
    margin-top: 5vh;
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: fit-content;
    min-width: 320px;
    max-width: 600px;
    margin-top: 50px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.form_input-group {
    margin-top: 30px;
    position: relative;
}

.form__input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0 4rem 0 10px;
    height: 3.5rem;
    border-radius: 3px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 5px var(--main);
}

.form__input::placeholder {
    color: transparent;
    visibility: hidden;
}

.form__input:focus {
    box-shadow: 0 0 0 4px #fff, 0 0 0 5px var(--accent);
}

.form__input:focus-within ~ .form__button,
.form__input:not(:placeholder-shown) ~ .form__button {
    width: 3.5rem;
    opacity: 1;
}

.form__input:focus-within ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    top: -35px;
    left: -5px;
    color: var(--accent);
    transform: scale(1.25);
    transition: all ease-in-out 200ms;
}

.form__label,
.form__button {
    position: absolute;
}

.form__label {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: text;
    transition: all ease-in-out 200ms;
    transform-origin: left;
}

.form__button {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transform-origin: right;
    transition: all ease-in-out 200ms;
    opacity: 0;
    width: 0;
    height: 3.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.results {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.results h2 span,
.results ul li {
    text-transform: capitalize;
}

.results h2 {
    margin: 30px 0 20px 0;
}

.results ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.results ul li {
    display: inline-block;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 8px 12px;
    color: #fff;
    font-weight: 500;
}
